<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div>
        <div id="No">
            <p id="Bridge_No">Bridge No.</p>
            <p id="Bars_No">Bars No.</p>
        </div>
        <p id="Bridge_Name">Bridge Name</p>
        <p id="Bridge_Loc">Bridge Location</p>
        <p id="Title">Bridge Inspection Report</p>
        <p>Type of Inspection Performed:</p>
        <p>Field Inspected By:</p>
        <p>Structural Evaluation By:</p>
        <p>Reviewd and Approved By:</p>
        <p id="DoT_Tag">The West Virginia Department of Transportation&nbsp;</p>
        <p id="DoT_Tag2">Divsion of Highways</p>
        <div id="Insp">
            <p id="NBI90">NBI90 (Routine) Date:&nbsp;</p>
            <p id="Freq">Frequency:</p><br>
            <p id="Insp_Types">Inspection Types</p>
            <div class="form-check"><input class="form-check-input" type="checkbox" disabled="" id="formCheck-4"><label class="form-check-label" for="formCheck-4">Periodic</label></div><br>
            <div class="form-check"><input class="form-check-input" type="checkbox" disabled="" id="formCheck-4"><label class="form-check-label" for="formCheck-4">In-Depth</label></div><br>
            <div class="form-check"><input class="form-check-input" type="checkbox" disabled="" id="formCheck-4"><label class="form-check-label" for="formCheck-4">Interinm-Condition</label></div>
        </div>
        <p id="Type">Type</p>
        <hr>
        <div class="container" id="Info">
            <div class="row">
                <div class="col">
                    <div class="form-check"><input class="form-check-input" type="checkbox" disabled="" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Fracture Critical</label></div><br>
                    <div class="form-check"><input class="form-check-input" type="checkbox" disabled="" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Underwater</label></div><br><br>
                    <div
                        class="form-check"><input class="form-check-input" type="checkbox" disabled="" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Other Special</label></div><br><br>
                <div
                    class="form-check"><input class="form-check-input" type="checkbox" disabled="" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Inventory</label></div><br>
            <div class="form-check"><input class="form-check-input" type="checkbox" disabled="" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Interim</label></div><br>
            <div class="form-check"><input class="form-check-input" type="checkbox" disabled="" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Damage/Special</label></div><br>
            <div class="form-check"><input class="form-check-input" type="checkbox" disabled="" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Clsoure</label></div>
        </div>
        <div class="col">
            <p>Required:&nbsp;</p>
            <p>Required:&nbsp;</p>
            <p>Underwater Equipment:&nbsp;</p><br>
            <p>Special Code:&nbsp;</p>
        </div>
        <div class="col">
            <p>Item 93A Date:</p>
            <p>Item93B Date:</p><br>
            <p>Item93C Date:</p><br>
            <p>Inspection Date:</p>
            <p>Inspection Date:</p>
            <p>Inspection Date:</p>
            <p>Inspection Date:</p>
        </div>
        <div class="col">
            <p>Frequency:</p>
            <p>Frequency:</p><br>
            <p>Frequency:</p><br><br><br><br>
            <p>Frequency:</p>
        </div>
    </div>
    </div>
    <hr>
    <section id="UB_Info">
        <div class="row">
            <div class="col">
                <div class="form-check" id="Ub_Check"><input class="form-check-input" type="checkbox" disabled="" id="formCheck-1"><label class="form-check-label" for="formCheck-1">UB Inspecytion Required</label></div><br>
                <p id="UB_Vehic">UB Inspection Vehicle:</p>
            </div>
            <div class="col">
                <p id="UB_Date">Inspection Date:</p>
            </div>
            <div class="col">
                <p id="UB_Freq">Frequency:&nbsp;</p>
            </div>
        </div>
    </section>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>