<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WV DoT Bridge Inspection - Report</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body id="Header_Body" style="background: #e6ecf0">
    <nav class="navbar navbar-light navbar-expand-md sticky-top">
        <div id="nav" class="container">
            <a class="navbar-brand" href="#">WV Bridge Inspection Tool</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <%if (userinfo) { %>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/buffer">My Images
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/user">Logged in as
                                <%- JSON.parse(userinfo).userName %>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/logout">Log Out</a>
                        </li>
                        <% } %>
                            <%if (!userinfo) { %>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" href="/login">Log In</a>
                                </li>
                                <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background: white; padding: 50px; padding-bottom: 15px; margin-left: 5%; margin-right: 5%; margin-top: 15px; margin-bottom: 15px; border-radius: 50px">
        <p id="DoT_Tag">The West Virginia Department of Transportation&nbsp;</p>
        <p id="DoT_Tag2">Divsion of Highways</p>
        <p id="Title">Bridge Inspection Report</p>
        <br>
        <hr>
        <p id="Bridge_Name">
            <%- rep[0]["name"]%>
        </p>
        <p id="Bridge_Loc">
            <%- rep[0]["location"]%>
        </p>
        <hr>
        <div id="holder">
            <div style="padding: 15px">
                <input type="text" placeholder="Header" name="header" style="display: block; width: 100%; margin: auto;" required>
            </div>
            <div class="container" style="padding: 0; margin: 0; margin-bottom: 15px; min-width: 100%;">
                <div class="row">
                    <div class="col-lg" style="padding: 15px ;margin: 0;">
                        <textarea placeholder="Enter your comment here" rows="4" cols="50" style="margin-top: 15px;margin-bottom: 15px;margin-right: 0px;height: 350px;width: 100%;display: inline-block;"></textarea>

                    </div>
                    <div class="col-lg" style="padding: 15px ;margin: 0;">
                        <div class="uploader" onclick="$('#filePhoto').click()" style="margin-top: 15px;
                        margin-left: 0;
                        margin-bottom: 15px;
                        display: inline-block;
                        position: relative;
                        overflow: hidden;
                        width: 100%;
                        height: 350px;
                        background: #f3f3f3;
                        text-align: center;
                        vertical-align: middle;
                        line-height: 350px;">
                            click here or drag image for preview
                            <img src="/pictures/Empty.png" />
                            <input type="file" name="userprofile_picture" id="filePhoto" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="element"></div>
        <button class="btn btn-primary" id="adder" style="width: 40%; display: block; margin: auto;" />Add another element</button>

       
        <br>
        <div style="text-align: center; width: 100%">
            <form action="/header">
                <input type="submit" class="btn btn-primary" role="button" style="width: 40%; display: block; margin: auto;" value="Submit Report"
                />
            </form>
        </div>
        <script>
                $(document).ready(function(){
                    $("p").click(function(){
                        $(this).hide();
                    });
                });
                </script>
                </head>
                <body>
                
                <p>If you click on me, I will disappear.</p>
                <p>Click me away!</p>
                <p>Click me too!</p>
    </div>

    <script>
            $(document).ready(function () {
                $("#adder").click(function () {
                    $("#element").append('<input type="text" placeholder="Header" name="header" style="display: block; width: 100%; margin: auto;" required>')
                    //$("#element").append('<div id="holder"><div style="padding: 15px"><input type="text" placeholder="Header" name="header" style="display: block; width: 100%; margin: auto;" required></div><div class="container" style="padding: 0; margin: 0; margin-bottom: 15px; min-width: 100%;"><div class="row"><div class="col-lg" style="padding: 15px ;margin: 0;"><textarea placeholder="Enter your comment here" rows="4" cols="50" style="margin-top: 15px;margin-bottom: 15px;margin-right: 0px;height: 350px;width: 100%;display: inline-block;"></textarea></div><div class="col-lg" style="padding: 15px ;margin: 0;"><div class="uploader" onclick="$('#filePhoto').click()" style="margin-top: 15px;margin-left: 0;margin-bottom: 15px;display: inline-block;position: relative;overflow: hidden;width: 100%;height: 350px;background: #f3f3f3;text-align: center;vertical-align: middle;line-height: 350px;">click here or drag image for preview<img src="/pictures/Empty.png" /><input type="file" name="userprofile_picture" id="filePhoto" /></div></div></div></div></div>');
                });
            });
        </script>
    <script>
        var imageLoader = document.getElementById('filePhoto');
        imageLoader.addEventListener('change', handleImage, false);

        function handleImage(e) {
            var reader = new FileReader();
            reader.onload = function (event) {

                $('.uploader img').attr('src', event.target.result);
            }
            reader.readAsDataURL(e.target.files[0]);
        }
    </script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>
</html>