<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>final report</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="assets/css/Article-Clean.css">
    <link rel="stylesheet" href="assets/css/Article-Dual-Column.css">
    <link rel="stylesheet" href="assets/css/styles_submitted.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles_photos.css">
</head>

<body id="body" style="background: #e6ecf0">
    <nav class="navbar navbar-light navbar-expand-md sticky-top" style="background: white">
        <div id="nav" class="container">
            <a class="navbar-brand" href="#">WV Bridge Inspection Tool</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <%if (userinfo) { %>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/buffer">My Images
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/user">Logged in as
                                <%- JSON.parse(userinfo).userName %>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/logout">Log Out</a>
                        </li>

                        <% } %>
                            <%if (!userinfo) { %>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" href="/login">Log In</a>
                                </li>
                                <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <div class="article-clean" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background: white; padding: 50px; padding-bottom: 15px; margin-left: 5%; margin-right: 5%; margin-top: 15px; margin-bottom: 15px; border-radius: 50px">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div>
                            <p class="text-left">
                                <span class="by">Bridge No. &nbsp; &nbsp;&nbsp;</span>
                                <span class="date">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    BARS No.</span>
                            </p>
                            <div>
                                <p class="text-center"></p>
                            </div>
                            <div>
                                <h3 class="text-center" style="color:rgb(6,102,247);">
                                    <strong>
                                        <span style="text-decoration: underline;">BRIDGE INSPECTION REPORT</span>
                                    </strong>
                                </h3>
                            </div>
                            <div class="intro">
                                <p style="color:rgb(3,125,250);">Type of Inspections Performed:&nbsp;
                                    <span>Fracture Critical, In Depth Inspection and Report</span>
                                </p>
                                <div>
                                    <img class="img-fluid" src="assets/img/bridgeTitle.png" id="bridge">
                                </div>
                            </div>
                            <div>
                                <p style="color:rgb(3,101,249);">Field Inspected By:</p>
                                <p style="color:rgb(3,101,249);">Structural Evaluation By:</p>
                                <p style="color:rgb(0,101,252);">Review and Approve By:</p>
                                <p class="text-center" id="dot">
                                    <strong>The West Virginia Department of Transportation Division of Highways</strong>
                                </p>
                                <p id="dot">
                                    <strong>Inspection Types</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="container">
                <div class="row" id="row">
                    <div class="col"></div>
                    <div class="col">
                        <ul id="list">
                            <li>NBI 90 (Routine) Date:</li>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="formCheck-9">
                            <label class="form-check-label" for="formCheck-9">Periodic</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="formCheck-8">
                            <label class="form-check-label" for="formCheck-8">In-Depth</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="formCheck-1">
                            <label class="form-check-label" for="formCheck-1">Interim-Condition</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <ul id="list">
                            <li>Frequency:</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <hr style="background-color:#1603f7;">
        </div>
        <div>
            <div class="container">
                <div class="row" id="row">
                    <div class="col">
                        <div id="yup">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="formCheck-1">
                                <label class="form-check-label" for="formCheck-1">Fracture Critical</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="formCheck-2">
                                <label class="form-check-label" for="formCheck-2">Underwater</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="formCheck-3">
                                <label class="form-check-label" for="formCheck-3">Other Special</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="formCheck-4">
                                <label class="form-check-label" for="formCheck-4">Inventory</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="formCheck-5">
                                <label class="form-check-label" for="formCheck-5">Interim</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="formCheck-6">
                                <label class="form-check-label" for="formCheck-6">Damage/Special</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="formCheck-7">
                                <label class="form-check-label" for="formCheck-7">Closure</label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <ul id="list">
                            <li>Required:</li>
                            <li>Required:</li>
                            <li>Underwater Equipment:</li>
                            <li>Special Code:</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul id="list">
                            <li>Item 93A Date:</li>
                            <li>Item 93B Date:</li>
                            <li>Item 93C Date:</li>
                            <li>Inspection Date:</li>
                            <li>Inspection Date:</li>
                            <li>Inspection Date:</li>
                            <li>Inspection Date:</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul id="list">
                            <li>Frequency:</li>
                            <li>Frequency:</li>
                            <li>Frequency:</li>
                            <li>Frequency:</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <hr style="background-color:#1603f7;">
        </div>
        <div>
            <div class="container">
                <div class="row" id="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="formCheck-1">
                            <label class="form-check-label" for="formCheck-1">UB Inspection Required:</label>
                        </div>
                    </div>
                    <div class="col">
                        <ul id="list">
                            <li>UBInspection Vehicle:</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul id="list">
                            <li>Inspection Date:</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul id="list">
                            <li>Frequency:</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery_submitted.min.js"></script>
    <script src="assets/js/jquery_photos.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>