<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>photo section</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <header>
        <div id="head">
            <div class="jumbotron">
                <h1 class="text-center text-primary"><img src="assets/img/wvdohlogo.jpg" id="logo"><strong>West Virginia Division of Highways</strong></h1>
                <p class="text-truncate text-primary" id="font-size"><strong>Photo Section</strong></p>
                <p class="text-left"><span>BARS No. : _______</span><span id="photo_date">Date : _______</span></p>
                <hr style="background-color:#1603f7;">
            </div>
        </div>
    </header>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12"><img src="assets/img/USM0ix8.png" id="img_border">
                    <p class="text-center" id="para">Photo 1 -&nbsp;FAILED WEB, STRINGER TWO PANEL FOUR, SPAN THREE<br><br></p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12"><img src="assets/img/WxSNlQ4.png" id="img_border">
                    <p class="text-center" id="para">Photo 2 - STRINGER TWO, SPAN TWO, PANEL TWO SECTION LOSS<br><br></p>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>