<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="/fonts.css">
    <style>
        img {
            border-radius: 50%;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Full-width input fields */

        div.container {
            width: 100%;
            border: 1px solid gray;
        }

        user info {
            float: left;
            max-width: 160px;
            margin: 10;
            padding: 1em;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
        }

        nav ul a {
            text-decoration: none;
        }

        article {
            margin-left: 170px;
            border-left: 1px solid gray;
            padding: 1em;
            overflow: hidden;
        }

        input[type=text],
        input[type=password] {
            width: 60%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        /* Set a style for all buttons */

        button {
            background-color: #2651a8;
            color: white;
            padding: 14px 20px;
            margin: 8px 0px;
            border: none;
            cursor: pointer;
            width: 40%;
        }

        button:hover {
            opacity: 0.8;
        }

        #homeHeader {
            margin-top: .5em;
        }

        #homeImage {
            margin-top: .5em;
        }

        div.container {
            width: 100%;
            border: 1px solid gray;
        }
    </style>
</head>

<body>
    <% include navbar %>
        <user info>
            <li>
                <img src="../public/photos/avatar.jpg" alt="Avatar"> </li>
        </user info>
        <% include footer %>
</body>

</html>