<!DOCTYPE html>
<html>

<head>
  <title>
    Home
  </title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="fonts.css">
</head>

<body>
  <% include navbar %>
    <form>
      <style>
        #search {
          margin-left: 15px;
          margin-top: 5px;
        }

        #homeTable {
          border: 1px solid #2651a8;
          padding: .2em .5em .2em .5em;
          vertical-align: top;
          text-align: left;
          margin-top: 10px;
        }

        .buttonHome {
          display: inline-block;
          padding: 1em 2em 1em 2em;
          letter-spacing: 0.10em;
          margin-top: 2em;
          padding: .4em .7em;
          background: #2651a8;
          border-radius: 6px;
          text-decoration: none;
          font-weight: 700;
          font-size: 1em;
          color: #FFF;
        }

        #homeHeader {
          margin-top: .5em;
        }

        th {
          text-align: center;
        }
        a{
          color: white;
        }

        td {
          border: 1px solid black;
          padding: .2em .5em .2em .5em;
          vertical-align: top;
          text-align: center;
        }

        #homeImage {
          margin-top: .5em;
        }

        .homeBox {
          background-color: #2651a8;
          border: 5px solid black;
          padding: .5em;
          padding-top: .1em;
          padding-bottom: .1em;
          margin: .25em;
          color: white;
          margin-right: 7.5em;
          margin-left: 7.5em;
        }
      </style>
      <center>
        <h1 id="homeHeader">
          West Virginia DoT
        </h1>
        <img src="http://localhost:8080/photos/wvdotlogo.webp" id="homeImage" alt="WVDoT logo" style="width:200px; height:200px;">
        <h3>West Virgina Department of Transportation Bridge Inspection Report Home Page</h3>
        <div class="homeBox">
          <h3> <a href="/viewReport">Reports</a></h3>
        </div>
        <div class="homeBox">
            <h3> <a href="/login">Login</a></h3>
        </div>
        <div class="homeBox">
            <h3> <a href="/contact">Contact</a></h3>
        </div>
        <div class="homeBox">
            <h3> <a href="/about">About</a></h3>
        </div>

        <!---
        <div>
          <input type="text" size="35" id="searchbar" placeholder="Search..">
          <label for="numbers" id="search">Page...</label>
          <input type="text" size="1" id="search" placeholder="#"> /20
          <button class="buttonHome" id="search">Go!</button>
      </center>
     
      <center>
        <table id="homeTable">
          <col width="200"></col>
          <col width="300"></col>
          <col width="75"></col>
          <col width="150"></col>
          <tr>
            <th>Bridge ID: </th>
            <th>Name: </th>
            <th>District: </th>
            <th>Date: </th>
            
          </tr>
          <tr>
            <td>008-4/5-2.95(01215)</td>
            <td>PFC Abraham G. Sams Memorial Bridge</td>
            <td>1</td>
            <td>07/18/2012</td>
          </tr>

        </table>
        <p id="ouput"></p>
        </div>
        <label for="numbers" id="search">Page...</label>
        <input type="text" size="1" id="search" placeholder="#"> /20
        <button class="buttonHome" id="search">Go!</button>
      -->
      </center>
      <% include footer.html %>
    </form>
</body>

</html>