extends layout

block content

  html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title
    meta(name='keywords', content='')
    meta(name='description', content='')

  body
    #header-wrapper
      #header.container
        #logo
          h1
            a(href='#') Assembly
        #menu
          ul
            li.active
              a(href='#', accesskey='1', title='') Homepage
            li
              a(href='#', accesskey='2', title='') Our Clients
            li
              a(href='#', accesskey='3', title='') About Us
            li
              a(href='#', accesskey='4', title='') Careers
            li
              a(href='#', accesskey='5', title='') Contact Us
      #banner.container
        .title
          h2 Consectetuer adipiscing elit
          span.byline Donec pulvinar ullamcorper metus
        ul.actions
          li
            a.button(href='#') Pulvinar mollis
    #wrapper
      #three-column.container
        .title
          h2 Feugiat lorem ipsum dolor sed veroeros
          span.byline Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue
        .boxA
          p
            | Phasellus pellentesque, ante nec iaculis dapibus, eros justo auctor lectus, a lobortis lorem mauris quis nunc. Praesent pellentesque facilisis elit. Class aptent taciti sociosqu ad  torquent per conubia nostra.
          a.button.button-alt(href='#') More Info
        .boxB
          p
            | Etiam neque. Vivamus consequat lorem at nisl. Nullam  wisi a sem semper eleifend. Donec mattis. Phasellus pellentesque, ante nec iaculis dapibus, eros justo auctor lectus, a lobortis lorem mauris quis nunc.
          a.button.button-alt(href='#') More Info
        .boxC
          p
            | Aenean lectus lorem, imperdiet at, ultrices eget, ornare et, wisi. Pellentesque adipiscing purus. Phasellus pellentesque, ante nec iaculis dapibus, eros justo auctor lectus, a lobortis lorem mauris quis nunc.
          a.button.button-alt(href='#') More Info
    #welcome
      .container
        .title
          h2 Fusce ultrices fringilla metus
          span.byline Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue
        p
          | This is 
          strong Assembly
          | , a free, fully standards-compliant CSS template designed by 
          a(href='http://templated.co', rel='nofollow') TEMPLATED
          | . The photos in this template are from 
          a(href='http://fotogrph.com/')  Fotogrph
          | . This free template is released under the 
          a(href='http://templated.co/license') Creative Commons Attribution
          |  license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :)
        ul.actions
          li
            a.button(href='#') Etiam posuere
    #copyright.container
      p
        | © Untitled. All rights reserved. | Photos by 
        a(href='http://fotogrph.com/') Fotogrph
        |  | Design by 
        a(href='http://templated.co', rel='nofollow') TEMPLATED
        | .




