<!DOCTYPE html>
<html>

<head>
  <title>
    Home
  </title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" type="text/css" href="/fonts.css">
</head>

<body>
  <% include navbar %>
    <form>
      <style>
        #search {
          margin-left: 15px;
          margin-top: 5px;
        }

        #homeTable {
          border: 1px solid #2651a8;
          padding: .2em .5em .2em .5em;
          vertical-align: top;
          text-align: left;
          margin-top: 10px;
        }

        .buttonHome {
          display: inline-block;
          padding: 1em 2em 1em 2em;
          letter-spacing: 0.10em;
          margin-top: 2em;
          padding: .4em .7em;
          background: #2651a8;
          border-radius: 6px;
          text-decoration: none;
          font-weight: 700;
          font-size: 1em;
          color: #FFF;
        }

        /*
 #footer{
   position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color: #2651a8;
       color: white;
       text-align: center;
 }
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2651a8;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #181818;
}
.active {
    background-color: #2651a8;
}
*/

        #homeHeader {
          margin-top: .5em;
        }

        #homeImage {
          margin-top: .5em;
        }
      </style>
      <center>
        <h1 id="homeHeader">
          West Virginia DoT
        </h1>
        <img src="http://localhost:8080/photos/wvdotlogo.webp" id="homeImage" alt="WVDoT logo" style="width:200px; height:200px;">
        <p>
          West Virgina Department of Transportation Bridge Inspection Report Home Page
        </p>

        <div>
          <input type="text" size="35" id="searchbar" placeholder="Search..">
          <label for="numbers" id="search">Page...</label>
          <input type="text" size="1" id="search" placeholder="#"> /20
          <button class="buttonHome" id="search">Go!</button>
      </center>
      <center>
        <table id="homeTable">
          <col width="300"></col>
          <col width="150"></col>
          <col width="150"></col>
          <col width="150"></col>
          <tr>
            <th>Bridge Name: </th>
            <th>County: </th>
            <th>District: </th>
            <th>Date: </th>
          </tr>
        </table>
        <script>
          function createJSON() {
            var mysql = require('mysql');

            // http://nodejs.org/docs/v0.6.5/api/fs.html#fs.writeFile
            var fs = require('fs');

            var connection = mysql.createConnection({
              host: 'localhost',
              user: 'aksenov',
              password: 'Datapass123',
              database: 'DroneInspDB'
            });

            connection.connect();
            var bridgeJSON = [];
            bridgeJSON = connection.query('select * from DroneInspDB.bridges for JSON PATH;', function (err, results, fields) {
              if (err) throw err;
              fs.writeFile('table.json', JSON.stringify(results), function (err) {
                if (err) throw err;
                console.log('Saved!');
              });

              connection.end();
            });

            var  output = document.getElementById('output');
            output.innerHTML = jcontent.name;
          }
        </script>
        <p id="ouput"></p>
        </div>
        <label for="numbers" id="search">Page...</label>
        <input type="text" size="1" id="search" placeholder="#"> /20
        <button class="buttonHome" id="search">Go!</button>
      </center>
      <% include footer.html %>
    </form>
</body>

</html>