<!DOCTYPE html>
<html>

<head>
    <title>
        Report View
    </title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="fonts.css">
</head>

<body>
    <% include navbar %>
        <form>
            <style>
                #leftMargin {
                    margin-left: 4em;
                }

                .inline {
                    display: inline-block;
                }

                #floatRight {
                    float: right;
                }
            </style>

            <p class="inline">Bridge ID. 008-4/5-2.95(01215)</p>
            <p id="floatRight">Bars No. 08A012</p>

            <center>
                <p>Bridge Name: PFC Abraham G. Sams Memorial Bridge</p>
                <p>Spans: over ELK RIVER</p>
                <p>Location: COUNTY ROUTE 4/5 0.01 MI S OF WV 4</p>
                <p>County: Clay County</p>
                <p>District: 1</p>
                <h1>Bridge Inspection Report</h1>
            </center>
            <div id="leftMargin">
                <p>Types of Inspections Performed: Fracture Critical, In-Depth Inspection and Report</p>
            </div>
            <center>
                <img src="http://localhost:8080/photos/DickHendersonBridge.jpg">
            </center>
            <div id="leftMargin">
                <p>Field Inspected By: Paul Kelley</p>
                <p>Structural Evaluation By: Bob Shafii</p>
                <p>Review and Approved By: Tracy Brown</p>
            </div>
            <center>
                <h3>West Virginia Department of Transportation</h3> 
                <h3>Division of Highways</h3>
                <p>Inspection Types</p>
                <span>Periodic</span>
                <input id="periodic" type="checkbox">
                <br>
                <span>In-Depth</span>
                <input id="in-depth" type="checkbox" checked>
                <br>
                <span>Interim-Conditon</span>
                <input id="interim" type="checkbox">
                <br>
                <h2>Procedure</h2>
            </center>
            <p>
                Information for this inspection report was obtained June 29, 30, July 3, 5, 6, 12, 18, 2012 The inspector in charge was P.
                Kelley assisted by: Don Burford on June 29, 30, July 3, 5, 6, 12, 18, Harry O’Conner on June 29,July 3, 5,
                6, 12, 16, 18, 24, 25, Kaleb Acree on June 29, July 3, 5, 6, 13 William Gurley on June 30, and Carolyn Lewis
                on July 18.
                <br>
                <br> The level of inspection forming the basis for this report was general visual observation, beginning with
                the substructure units at the ground and waterlines, ending with the upper chords of Span Two.
                <br>
                <br> The underside was observed from the ground and by use of ladders and a swinging scaffold, providing all
                areas hands on inspection.
                <br>
                <br> Orientation of the structure units is in compliance with the plans and straightline survey.
                <br>
                <br> A Periodic Inspection, made June 12, 2010 by F. Miller, rated the general overall condition of the structure
                poor.
            </p>
            <center>
                <h2>Upper Chords & End Post</h2>
            </center>
            <p>
                The Upper chords and end post are in fair condition in these spans; having been previously retrofitted along their entire
                length; adding angle on both sides of the chord and replacing the lower portion of the end post at each abutment
                both upstream and down. We found some deterioration to the interior of the end post in Span One at U5 upstream
                and what may have been intentional cuts performed during maintenance to the U5 end post of the downstream
                truss (see Photos 32 and 33) each of these areas are backed up by retrofits and cause no concern at this
                time. We also found a misalignment in the form a swag to Span Ones Downstream Truss (see Photo 34) we recommend
                monitoring this situation during future inspections (see CD Sketch 4) . Previous reports have noted collision
                damage to both end post at Abutment Two and it is obvious by the damage to the handrail that these elements
                have been struck in the past. However, on examination we feel that the misalignment of the end post is consistent
                with what is generally found when major renovations have been done on a truss and no attempts at repair are
                warranted. We found pack rust under the top connection plate; now failing rivets in Span Ones Upstream Truss
                with 40% loss to the top cover plate at the edge of the connection plate (see Photo 35) (Work Order) Span
                Ones Downstream Truss has similar loss to the cover plate at its connection, but the rivets have been replaced
                with bolts. Several of the pin retainer nuts in these spans are cracked (see Photo 36) and several more have
                been retrofitted by welding a plate washer to them. We found the pin nuts failed at L1 of Span Ones Downstream
                Truss and L4 of Span Threes Downstream Truss (see Photo 37) (Work Order). Spans One and Three both have U-Bolt
                hangers at each floor beam connection; these members display varying degrees of deterioration with the worst
                being in Span One (see Photo 38). However, the floor beams are supported by vertical gusset plates with riveted
                and bolted connections; the U-Bolt hangers were installed during a renovation to hold the members in place
                and are not needed in these spans. The lower lateral bracing and connections in these spans are in poor condition;
                with connections at each substructu
            </p>




        </form>
        <% include footer.html %>
</body>