<!DOCTYPE html>
<html>

<head>
    <title>
        Report View
    </title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="fonts.css">
</head>

<body>
    <% include navbar %>
        <form>
            <style>
                #leftMargin{
                    margin-left: 4em;
                }
            </style>
            <p>Bridge Id.</p>
            <p>Bars No. </p>
            <br>
            <br>
            <center>
                <p>Bridge Name:</p>
                <p>Spans:</p>
                <p>County:</p>
                <p>District:</p>
                <h1>Bridge Inspection Report</h1>
            </center>
            <div id="leftMargin">
            <p>Types of Inspections Performed:</p>
            <p>Field Inspected By:</p>
            <p>Structural Evaluation By:</p>
            <p>Review and Approved By:</p>
            </div>
            <center>
                <p>The West Virginia Department of Transportation </p>
                <p>Department of Highways</p>
            </center>


        </form>
        <% include footer.html %>
</body>