<!DOCTYPE html>
<html>

<head>
    <title>
        Home
    </title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="fonts.css">
</head>
<body>
    <% include navbar %>
        <form>
            <style>
                p.inline {
                    display: inline;
                    margin-left: 8em;
                    margin-top: 2em;
                }

                p.floatRight {
                    float: right;
                    display: inline;
                    margin-right: 8em;
                }
                #leftMargin{
                    margin-left: 4em;
                }
            </style>
            <p class="inline">Bridge Id.</p>
            <p class="floatRight">Bars No. </p>
            <center>
                <p>Bridge Name:</p>
                <p>Spans:</p>
                <p>County:</p>
                <p>District:</p>
                <h1>Bridge Inspection Report</h1>
            </center>
            <div id="leftMargin"> <p>Types of Inspections Performed: </p>
            </div>


        </form>
</body>