<!DOCTYPE html>
<html>
<head>
<title>
Home
</title>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="fonts.css">
</head>
<body>
  <% include navbar %>
<form>
  <script>src="DB.js"</script>
<style>
 #search{
   margin-left: 15px;
   margin-top: 5px;
 }
 #homeTable{
   			border: 1px dashed #2651a8;
   			padding: .2em .5em .2em .5em;
   			vertical-align: top;
   			text-align: left;
        margin-top: 10px;
 }
 /*
 #footer{
   position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color: #2651a8;
       color: white;
       text-align: center;
 }
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2651a8;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #181818;
}
.active {
    background-color: #2651a8;
}
*/
</style>
<center>
<h1>
West Virginia DoT
</h1>
<img src="http://localhost:8080/photos/wvdot.png" alt="WVDoT logo" style="width:200px; height:200px;">
<p>
West Virgina Department of Transportation Bridge Inspection Report Home Page
</p>

<div>
<input type="text" size="35" id="searchbar" placeholder="Search..">
<label for="numbers" id="search">Page...</label>
<input type="text" size="1" id="search" placeholder="#">
/20
<button class="button" id="search">Go!</button>
</center>
<center>
<table id="homeTable">
  <col width="300"></col>
  <col width="150"></col>
  <col width="150"></col>
  <col width="150"></col>
  <tr>
    <th>Name:</th>
    <th>County:</th>
    <th>District:</th>
    <th>Date:</th>
    </tr>
</table>
</div>
<label for="numbers" id="search">Page...</label>
<input type="text" size="1" id="search" placeholder="#">
/20
<button class="button" id="search">Go!</button>
</center>
<% include footer.html %>
</form>
</body>
</html>
