<nav>
  <ul>
  <li><a class="active" href="index.js">Home</a></li>
  <li><a href="#reports">Reports</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>
</nav>
