<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2651a8;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #181818;
  }

  .active {
    background-color: #2651a8;
  }

  #loginNav {
    margin-right: 1em;
    float: right;
  }
</style>
<nav>
  <ul>
    <li>
      <a class="active" href="index.js">Home</a>
    </li>
    <li>
      <a href="#reports">Reports</a>
    </li>
    <li>
      <a href="#contact">Contact</a>
    </li>
    <li>
      <a href="#about">About</a>
    </li>
    <li id="loginNav">
      <a href="#login">Login</a>
    </li>
  </ul>
</nav>